              <h4 class="pt-21 mb-21">Categorías</h4>
              {exp:channel:categories style="linear" category_group="3"}
							    <a href="{site_url}komunicacion/categoria/{category_url_title}" class="mv-7 light h6">{category_name}</a><br>
							{/exp:channel:categories}

							<!--
              <h4 class="text-uppercase h5 light pt-21 mb-21">Las populares</h4>
              <p class="h6 light mb-0">Título de la historia más popular de la vitacora.</p>
              <a href="" class="h6 m-0 mb-14 light text-primary"><dfn>Lee más</dfn></a>
              <p class="h6 light mb-0">Título de la historia más popular de la vitacora.</p>
              <a href="" class="h6 m-0 mb-14 light text-primary"><dfn>Lee más</dfn></a>
              <p class="h6 light mb-0">Título de la historia más popular de la vitacora.</p>
              <a href="" class="h6 m-0 mb-14 light text-primary"><dfn>Lee más</dfn></a>
              -->