      <!-- ESTADISTICAS -->
      <section class="bg-gray-lighter" id="estadisticas">
        <div class="container-md pv-70 text-gray-darker mtp-7">
	        <h3 class="pb-21 mt-0 text-center text-uppercase h4 text-black">Hitos 2015</h3>
          <div id="content-estadistica" class="row pb-21">
	          {exp:channel:entries channel="estadistica" limit="4" disable="member_data|pagination" dynamic="off"}
            <div class="col-md-4 col-xs-12 text-center">
              <h1 class="numbers m-0">{estadistica-numero}</h1>
              <p class="light small m-0 lh-sm">{estadistica-descripcion}</p>
            </div>
            {/exp:channel:entries}
          </div>
        </div>
      </section>
      <!-- END: ESTADISTICAS -->

      <div class="container sumate php-7 pv-21">
        {exp:freeform:composer
            form_name="sumate"
            composer_template_name="sumate"
            return="gracias/index"
        }

      </div>      