    <!-- FOOTER -->
    <footer class="footer pv-70 minh-280 bg-gray-darker">
      <div class="container-md text-white">
        <div class="row">
          <div class="col-md-4 hidden-xs thin pl-28">
            <h3 class="pb-7 h4">Kunan</h3>
            <a href="{site_url}premio" class="text-hover-gray-lighter"><p class="small mb-0">Premio</p></a>
            <a href="{site_url}comunidad" class="text-hover-gray-lighter"><p class="small mb-0">Comunidad</p></a>
            <a href="{site_url}komunicacion" class="text-hover-gray-lighter"><p class="small mb-0">Komunicación</p></a>
          </div>
          <div class="col-md-4 hidden-xs thin ">
            <h3 class="pb-7 h4">Aplica</h3>
            <a href="" class="text-hover-gray-lighter"><p class="small mb-0">Formulario de Postulante</p></a>
          </div>
          <div class="col-md-4 col-xs-12 text-center">
            <h3 class="pb-7 h4">Siguenos</h3>
            <a href="https://www.facebook.com/premiokunan" target="_blank"><img class="mh-7 pl-42-lg" src="{site_url}app/assets/img/Facebook.png"></a>
            <a href=""><img class="mh-7 ml-56-xs mr-42-xs" src="{site_url}app/assets/img/Instagram.png"></a>
            <a href="https://www.youtube.com/channel/UCZd7zr6fMrJTR_kz1CV3BqQ"><img class="mh-7" src="{site_url}app/assets/img/LinkedIn.png"></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- END: FOOTER -->
  </div>
  <script src="{site_url}app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}app/assets/js/scripts.min.js"></script>
  <script src="{site_url}app/assets/js/menu-control.js"></script>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'kunan';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>
</html>