    <!-- FOOTER -->
    <footer class="footer pv-70 minh-280 bg-gray-darker">
      <div class="container-md text-white">
        <div class="row">
          <div class="col-md-4 hidden-xs thin pl-28">
            <h3 class="pb-7 h4">Kunan</h3>
            <a href="{site_url}premio" class="text-hover-gray-lighter"><p class="small mb-0">Premio</p></a>
            <a href="{site_url}comunidad" class="text-hover-gray-lighter"><p class="small mb-0">Comunidad</p></a>
            <a href="{site_url}komunicacion" class="text-hover-gray-lighter"><p class="small mb-0">Komunicación</p></a>
          </div>
          <div class="col-md-4 hidden-xs thin ">
            <h3 class="pb-7 h4">Aplíca</h3>
            <a href="{site_url}login" class="text-hover-gray-lighter"><p class="small mb-0">Formulario de Postulante</p></a>
          </div>
          <div class="col-md-4 col-xs-12 text-center text-center-xs">
            <h3 class="pb-7 h4">Siguenos</h3>
            <a href="https://www.facebook.com/premiokunan" target="_blank"><img class="icon-footer mr-14 ml-28" src="{site_url}app/assets/img/Facebook.png"></a>
            <a href="https://instagram.com/kunan_es_ahora/" target="_blank"><img class="icon-footer mh-14" src="{site_url}app/assets/img/Instagram.png"></a>
            <a href="https://twitter.com/Kunan_es_ahora/" target="_blank"><img class="icon-footer mh-14 " src="{site_url}app/assets/img/twitter.png"></a>
            <a href="https://www.youtube.com/channel/UCZd7zr6fMrJTR_kz1CV3BqQ" target="_blank"><img class="icon-footer mh-7" src="{site_url}app/assets/img/youtube.png"></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- END: FOOTER -->
  </div>
  <script src="{site_url}app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}app/assets/js/scripts.min.js"></script>
  <script src="{site_url}app/assets/js/menu-control.js"></script>
  <script src="{site_url}app/assets/js/jquery.validate.js"></script>
	{if segment_2=='articulo'}
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'kunan';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
  {/if}
  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>
  
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-558a3b7841972204" async="async"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-64449296-1', 'auto');
	  ga('send', 'pageview');
	
	</script>	
</html>