      <!-- FORMULARIO -->
      <section class="text-center" style="background:url({site_url}app/assets/img/completa-el-formulario.png)">
        <div class="container-md pv-70 text-white">
          <h2 class="pb-14 h4 light text-uppercase">Completa el formulario</h2>
          <p class="lead">Recuerda que para concursar, debes haber leído las bases del concurso y estar de acuerdo con los términos y condiciones del premio.</p>
          <p class="small"><em>Cierre el 27 de Julio</em></p>
          <a href="" class="btn btn-white">
            <span class="text-blue-banner ph-7">POSTULA AHORA</span>
          </a>
        </div>
      </section>
      <!-- END: FORMULARIO -->