<!doctype html>
<html lang="en">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>{if embed:titulo}{embed:titulo} | Innovación que transforma{if:else}KUNAN, Innovación que transforma{/if}</title>
	<meta property="description" content="{if embed:descripcion}{embed:descripcion}{if:else}KUNAN es un programa que impulsa, integra e inspira el emprendimiento y la innovación social de jóvenes en el Perú.{/if}">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{if embed:url}{embed:url}{if:else}http://kunan.com.pe{/if}">
  <meta property="og:title" content="{if embed:titulo}{embed:titulo} | Innovación que transforma{if:else}KUNAN, Innovación que transforma{/if}">
  <meta property="og:site_name" content="KUNAN">
  <meta property="og:description" content="{if embed:descripcion}{embed:descripcion}{if:else}KUNAN es un programa que impulsa, integra e inspira el emprendimiento y la innovación social de jóvenes en el Perú.{/if}">
  <meta property="og:image" content="{if embed:imagen}{embed:imagen}{if:else}{site_url}/app/assets/img/logo.png{/if}">


  <!-- Twitter Cards -->
  <meta name="twitter:card" content="">
  <meta name="twitter:title" content="{if embed:titulo}{embed:titulo} | Innovación que transforma{if:else}KUNAN, Innovación que transforma{/if}">
  <meta name="twitter:url" content="{if embed:url}{embed:url}{if:else}http://kunan.com.pe{/if}">
  <meta name="twitter:description" content="{if embed:descripcion}{embed:descripcion}{if:else}KUNAN es un programa que impulsa, integra e inspira el emprendimiento y la innovación social de jóvenes en el Perú.{/if}">
  <meta name="twitter:site" content="KUNAN">
  <meta name="twitter:creator" content="@LaboratoriaLA">
  <meta name="twitter:image" content="{if embed:imagen}{embed:imagen}{if:else}{site_url}/app/assets/img/logo.png{/if}">  
  
  
  <link rel="shortcut icon" href="{site_url}app/assets/img/favicon_kunan.png">
  <link href="{site_url}app/assets/css/style.css" rel="stylesheet"> <!-- App styles -->
  <link href="{site_url}app/assets/css/ebm.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="//use.typekit.net/cit1oun.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <meta name="google-site-verification" content="z9h162Cm7Fy6-4fx_JVMovEoelgTofqn9s10WnGok08" />
    
  <div class="site-wrapper"> <!-- Body -->