          <div class="row container-sm pv-35">
	          {exp:channel:entries channel="proyecto" limit="16" disable="member_data" category="25"}
            <div class="col-md-3 col-xs-6">
	            {proyecto-imagen-organizacion}
              	<a href="{site_url}emprendedores-sociales/proyecto/{url_title}">
	              	<img src="{image:url:logo}" class="img-responsive">
	              </a>
              {/proyecto-imagen-organizacion}
            </div>
            {/exp:channel:entries}
          </div>