          <div class="row container-sm pv-35">
	          <h4 class="pb-14">Ganadores 2015</h4>
	          <div class="col-md-3"></div>
	          {exp:channel:entries channel="proyecto" limit="16" disable="member_data" category="28"}
            <div class="col-md-3 col-xs-6">
              	<a href="{site_url}emprendedores-sociales/proyecto/{url_title}">
	              	{proyecto-imagen-organizacion}
										<img class="img-responsive" width="100%" src="{image:url:small}" alt="{title}">
                	{/proyecto-imagen-organizacion}
	              </a>
            </div>
            {/exp:channel:entries}
          </div>