          <h2 class="pb-14">La bitácora</h2>
          <p class="h4 light m-0 pb-21">El día a día de los eventos y noticias más importantes de la comunidad de emprendimiento social.</p>
          <ul class="grid-list grid-list-3 grid-list-1-xs text-left">
            {exp:channel:entries channel="la_bitacora" limit="3" disable="member_data"}
            <li class="grid-list-item">
              <a href="{site_url}la-bitacora/articulo/{url_title}">
	              {bitacora-imagen}
	              <img class="img-responsive" src="{image:url:small}">
								{/bitacora-imagen}
	            </a>
              <a href="{site_url}la-bitacora/articulo/{url_title}"><p class="h5 mt-21 mb-0">{title}</p></a>
              <p class="small m-0 light"><dfn>{entry_date format="%d-%m-%Y"}</dfn></p>
              <p class="lh-sm small m-0 pt-14 light">
	              {exp:char_limit total="200" exact="no"}
	              	{bitacora-descripcion}
								{/exp:char_limit}
	            </p>
              {bitacora-autor}
              <div class="row pt-28">
                <div class="col-md-2 col-xs-2 pr-0">
                  <img src="{bitacora-autor:autor-imagen}" width="40">
                </div>
                <div class="col-md-10 col-xs-10">
                  <p class="h6 m-0 light pt-7">{bitacora-autor:title}</p>
                  <p class="h6 m-0 light"><dfn>{bitacora-autor:autor-organizacion}</dfn></p>
                </div>
              </div>
              {/bitacora-autor}
            </li>
            {/exp:channel:entries}
          </ul>
          <div class="pv-42 text-center">
            <a href="{site_url}la-bitacora" class="btn btn-gray btn-outline text-gray">
              <p class="small ph-21 mb-0">LEE TODOS</p>
            </a>
          </div> 