<!-- HEADER -->
	    <header class="site-menu">
	      <div id="menu-vistas" class="vistas hidden-xs hidden-md hidden-sm container-fluid text-center">
				  <div class="container">
					  <div class="row">
						  <div class="col-12-md">
						    <div class="header-left text-left col-md-1 p-0">
						      <a href="{site_url}"><img class="ml-14" src="{site_url}app/assets/img/logo.png"></a>
						    </div>
						    <div class="header-center col-md-9 pr-0 text-center plp-7">
						      <nav class="text-white text-uppercase" >
						        <a href="{site_url}"><span>Inicio</span></a>|
						        <a href="{site_url}premio"><span>Premio</span></a>|
						        <a href="{site_url}comunidad"><span>Comunidad</span></a>|
						        <a href="{site_url}komunicacion"><span>Komunicación</span></a> |
						        <a href="{site_url}votacion"><span>Resultados 2015</span></a> |
						        <a href="{site_url}#unete"><span>Súmate</span></a>
						      </nav>
						    </div>
						    <div class="header-right col-md-2 pt-14 pr-21 text-right">
						    <!--{if logged_in}
						    	<a class="btn btn-outline small text-uppercase btn-primary pv-7" href="{path='logout'}">{screen_name} (salir)</a>
						    {if:else}
						    	<a class="btn small text-uppercase btn-primary pv-7" href="{site_url}login"><span>Votación</span></a>
						    {/if}-->
						    </div>  
						  </div>  
					  </div> 
				  </div>
				</div>
				<div class="menu-section hidden-lg">
	        <a href="{site_url}"><img class="logo-responsive" src="{site_url}app/assets/img/logo-kunan-responsive.png"></a>
	        <div class="menu-toggle">
	          <div class="one"></div>
	          <div class="two"></div>
	          <div class="three"></div>
	        </div>
	        <nav>
	          <ul role="navigation" class="hidden">
	            <!-- <li><a href="{site_url}content/index#porqueestamos"><h3 class="text-uppercase text-white">Por que estamos aquí</h3></a></li>
	            <li><a href="{site_url}content/index#nuestroreto"><h3 class="text-uppercase text-white">Nuestro reto</h3></a></li>
	            <li><a href="{site_url}content/index#lineasdeaccion"><h3 class="text-uppercase text-white">Linea de acción</h3></a></li> -->
	            <li><a href="{site_url}"><h3 class="text-uppercase text-white">Inicio</h3></a></li>
	            <li><a href="{site_url}comunidad"><h3 class="text-uppercase text-white">Comunidad</h3></a></li>
	            <li><a href="{site_url}premio"><h3 class="text-uppercase text-white">Premio</h3></a></li>
	            <li><a href="{site_url}komunicacion"><h3 class="text-uppercase text-white">Komunicación</h3></a></li>
	            <li><a href="{site_url}votacion"><h3 class="text-uppercase text-white">Resultados 2015</h3></a></li>
							<!--{if logged_in}
							<li><a href="{path='logout'}"><h3 class="text-uppercase text-white">{screen_name} (salir)</h3></a></li>
							{if:else}
							<li><a href="{site_url}login"><h3 class="text-uppercase text-white">Votación</h3></a></li>
							{/if}-->	
						
	          </ul>
	        </nav>
	      </div>
	    </header>
	  <!-- END: HEADER -->  