	  <!-- HEADER -->
	    <header class="site-menu">
	      <div id="menu" class="home hidden-xs container-fluid text-center">
				  <div class="container-md row">
				    <div class="header-left text-left col-md-1 p-0" >
				      <a href="{site_url}"><img class="ml-14" src="{site_url}app/assets/img/logo.png"></a>
				    </div>
				    <div class="header-center col-md-8 pr-0 text-right">
				      <nav class="text-white text-uppercase" >
				        <a href="{site_url}content/index#porqueestamos"><span>¿Por qué estamos aquí?</span></a>|
				        <a href="{site_url}content/index#nuestroreto"><span>Nuestro reto</span></a>|
				        <a href="{site_url}content/index#lineasdeaccion"><span>Líneas de acción</span></a>|
				        <a href="{site_url}la-bitacora"><span>La bitácora</span></a>
				      </nav>
				    </div>
				    <div class="header-right col-md-3 pt-14 pr-21 text-right">
				    {if logged_in}
				    	<a class="btn btn-outline small text-uppercase btn-primary pv-7" href="{path='logout'}">{screen_name} (salir)</a>
				    {if:else}
				    	<a class="btn btn-outline small text-uppercase btn-primary pv-7" href="{site_url}login">Regístrate o ingresa</a>
				    {/if}
				    </div>    
				  </div>
				</div>
	    </header>
	  <!-- END: HEADER -->  
	  
		