	  <!-- HEADER -->
	    <header class="site-menu">
	      <div id="menu" class="container-fluid text-center">
	        <nav class="text-white text-uppercase">
	          <a href="{site_url}"><img src="{site_url}app/assets/img/logo.png" alt=""></a>
	          <a href=""><span>¿Por qué estamos aquí?</span></a>
	          <a href=""><span>Nuestro reto</span></a>
	          <a href=""><span>Líneas de acción</span></a>
	          <a href="{site_url}la-bitacora"><span>La bitácora</span></a>
	          <a href="{site_url}login"><span>Regístrate para votar</span></a>
	          <a href=""><div class="btn votacion">Vota</div></a>
	        </nav>
	      </div>
	    </header>
	  <!-- END: HEADER -->  