<!-- HEADER -->
	    <header class="site-menu">
	      <div id="menu-vistas" class="vistas hidden-xs hidden-md hidden-sm container-fluid text-center">
				  <div class="container">
					  <div class="row">
						  <div class="col-12-md">
						    <div class="header-left text-left col-md-1 p-0">
						      <a href="{site_url}"><img class="ml-14" src="{site_url}app/assets/img/logo.png"></a>
						    </div>
						    <div class="header-center col-md-10 pr-0 text-center plp-7">
						      <nav class="text-white text-uppercase" >
						        <a href="{site_url}"><span>Inicio</span></a>|
						        <a href="{site_url}premio"><span>Premio</span></a>|
						        <a href="{site_url}comunidad"><span>komunidad</span></a>|
						        <a href="{site_url}komunicacion"><span>Komunicación</span></a> |
						        <a href="{site_url}#unete"><span>Súmate</span></a>
						      </nav>
						    </div>
						    <div class="header-right col-md-1 pt-14 pr-21 text-right"></div>  
						  </div>  
					  </div> 
				  </div>
				</div>
				<div class="menu-section hidden-lg">
	        <a href="{site_url}"><img class="logo-responsive" src="{site_url}app/assets/img/logo-kunan-responsive.png"></a>
	        <div class="menu-toggle">
	          <div class="one"></div>
	          <div class="two"></div>
	          <div class="three"></div>
	        </div>
	        <nav>
	          <ul role="navigation" class="hidden">
	            <li><a href="{site_url}"><h3 class="text-uppercase text-white">Inicio</h3></a></li>
	            <li><a href="{site_url}comunidad"><h3 class="text-uppercase text-white">Comunidad</h3></a></li>
	            <li><a href="{site_url}premio"><h3 class="text-uppercase text-white">Premio</h3></a></li>
	            <li><a href="{site_url}komunicacion"><h3 class="text-uppercase text-white">Komunicación</h3></a></li>
	          </ul>
	        </nav>
	      </div>
	    </header>
	  <!-- END: HEADER -->  