	  <!-- HEADER -->
	    <header class="site-menu">
	      <div id="menu-vistas" class="vistas container-fluid text-center">
		      <nav class="text-gray-darker text-uppercase">
		        <a href="{site_url}"><img src="{site_url}app/assets/img/logo.png" alt=""></a>
		        <a href="{site_url}porqueestamos"><span class="ml-70 pl-42 pr-7">¿Por qué estamos aquí?</span></a>|
		        <a href="{site_url}nuestroreto"><span class="ph-7">Nuestro reto</span></a>|
		        <a href="{site_url}lineasdeaccion"><span class="ph-7">Líneas de acción</span></a>|
		        <a href="{site_url}la-bitacora"><span class="pl-7 pr-14 ">La bitácora</span></a>
		        <a href="{site_url}" class="btn btn-primary pv-7"><span class="ph-21">VOTA</span></a>
		      </nav>
		    </div>
	    </header>
	  <!-- END: HEADER -->  