              <h4 class="pt-21 mb-21 text-gray-darker">Sectores</h4>
              {exp:channel:categories style="linear" category_group="4"}
							    <a href="{site_url}emprendedores-sociales/categoria/{category_url_title}" class="mv-7 light h6">{category_name}</a><br>
							{/exp:channel:categories}              

              <h4 class="mt-35 mb-21 text-gray-darker">Ubicación</h4>
              {exp:channel:categories style="linear" category_group="5"}
							    <a href="{site_url}emprendedores-sociales/categoria/{category_url_title}" class="mv-7 light h6">{category_name}</a><br>
							{/exp:channel:categories}              
