
{exp:query sql="SELECT * FROM exp_freeform_form_entries_2 WHERE author_id='{embed:miembro}'"}
	{if form_field_58=='n'}
  {exp:freeform:composer_edit 
    form_name="formulario_registro"
    composer_template_name="composer_formulario_registro"
    return="gracias/index" 
    entry_id="{entry_id}" 
  }
  {/if}
  {if form_field_58=='y'}
  	{redirect='gracias/aplicacion-entregada' status_code="301"}
  {/if}
  {if no_results}
    {redirect='formulario/index' status_code="301"}
  {/if}    
{/exp:query}
              


              
              

              