          <h4 class="text-black text-center lh-lg php-7 mt-7 mb-49">Gracias a los impulsores de la iniciativa y a nuestros socios estratégicos que hacen de <strong>KUNAN</strong> una realidad. </h4>
          <div class="row pb-35">
            <div class="col-md-2 hidden-xs"></div>
            <div class="col-md-8 col-xs-12">
              <div class="col-md-5 col-xs-5  col-xs-offset-1">
                <img class="img-responsive" src="{site_url}app/assets/img/global.jpg">
              </div>
              <div class="col-md-6 col-xs-5">
                <img class="img-responsive" src="{site_url}app/assets/img/gaston.jpg">
              </div>
            </div>
            <div class="col-md-2 hidden-xs"></div>
          </div>
          <h3 class="pb-21 h4 text-black text-uppercase">Socios Estratégicos</h3>
          <div class="container-sm">
            <div class="row">
              <div class="col-md-2 col-xs-4 img-socios col-md-offset-1">
                <a href="http://www.echecopar.com.pe/content/index.php" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/echecopar.jpg">
                </a>
              </div>
              <div class="col-md-2 col-xs-4">
                <a href="http://www.ey.com/PE/es/Home" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/ey.png">
                </a>
              </div>
              <div class="col-md-2 col-xs-4">
                <a href="http://www.help-peru.org/" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/helpperu.jpg">
                </a>
              </div>     
              <div class="col-md-2 col-xs-4">
                <a href="http://www.insitum.com/peru.html" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/insitum.png">
                </a>
              </div>
              <div class="col-md-2 col-xs-4">
                <a href="http://www.ipae.edu.pe/" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/ipae.jpg">
                </a>
              </div>
              <div class="hidden-md hidden-lg col-xs-4">
                <a href="http://www.ipae.edu.pe/" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/ministerio-1.jpg">
                </a>
              </div>      
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-4 col-md-offset-2 hidden-xs">
                <a href="http://www.ipae.edu.pe/" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/ministerio-1.jpg">
                </a>
              </div>
              <div class="col-md-2 col-xs-4 ">
                <a href="http://www.ipae.edu.pe/" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/startup-peru-1.jpg">
                </a>
              </div>
              <div class="col-md-2 col-xs-4">
                <a href="http://residencia.pe/" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/residencia.png">
                </a>
              </div>
              <div class="col-md-2 col-xs-4">
                <a href="http://www.up.edu.pe/default.aspx" target="_blank">
                  <img class="img-responsive" src="{site_url}app/assets/img/pacifico.jpg">
                </a>
              </div>
            </div>
          </div>
          