{embed="includes/header"}
{if logged_in} 
{embed="includes/navegacion-vistas"}
    <main class="site-content">
      <section class="minh-70"></section>
      <!-- DESCRIPTION -->
      <section class="text-left">
        <div class="container-md pv-70">
          <div class="row formulario-text">
            <div class="col-md-12">
              <p class="light ml-7">
	              Antes de iniciar la inscripción debes leer las <a href="{site_url}app/assets/documentos/bases_kunan_premio_2015_version_4.pdf" class="text-primary" target="_blank">bases del concurso.</a><br><em><span class="text-danger">*</span>campos obligatorios</em>
              </p>
              <p class="light ml-7"><strong><u>Nota</u>: </strong> Al finalizar el formulario encontrarás el icono GUARDAR, el cual permitirá que puedas guardar la información ingresada si no culminaste el formulario antes de elegir ENVIAR.</p>
							{exp:freeform:composer
							    form_name="formulario_registro"
							    composer_template_name="composer_formulario_registro"
							    return="gracias/index"
							}
              
							<p class="text-right light">Encuentra información en el <a href="{site_url}general/glosario_de_terminos">glosario de términos</a></p>
            </div>
          </div>
        </div>
      </section>
      <!-- END: DESCRIPTION -->
    </main>
{/if}
{if logged_out}
  {redirect='login/index'}
{/if}
{embed="includes/footer"}    