{embed="includes/header"}
{embed="includes/navegacion-vistas"} 
    <main class="site-content">
      <section id="hero-image" class="minhp-80" style="background:url({site_url}app/assets/img/premio.png)">
        <div class="bg-hero-image minhp-80">
          <div class="container-sm minh-280"></div>  
          <div class="container-sm text-white text-center">
            <h1 class="text-uppercase m-0 pt-70 h2 light pb-14">Premio</h1>
            <p class="lead thin mb-14">El premio impulsa todas las iniciativas que generan valor y que están haciendo frente a los desafíos más relevantes para el desarrollo del Perú.</p>
            
            <a href=""><img class="pt-14 triangle-down" src="{site_url}app/assets/img/triangulo-bajada.png" alt=""></a>
          </div>
        </div>
      </section>
      <!-- DESCRIPTION -->
      <section class="text-center" id="description">
        <div class="container-md pv-35 text-gray-darker">

          <!-- COMO FUNCIONA -->
          <h3 class="pt-28 text-uppercase light h4">Como funciona</h3>
          <p class="h4 lh-lg text-gray-darker light">El premio Kunan identifica la mayor diversidad de emprendimientos sociales liderados por jóvenes en todo el Perú y reconoce los emprendimientos sociales que destaquen por ser innovadores, escalables y sostenibles.</p>
          <ul class="grid-list grid-list-5 grid-list-1-xs text-center pt-28">
            <li class="grid-list-item text-gray-darker">
              <img src="{site_url}app/assets/img/1.png">
              <h4 class="mt-14 text-uppercase h5 light">Revisa las bases</h4>
              <p class="lh-sm small m-0 light">Informate sobre los requisitos para participar en el Premio</p>
            </li>
            <li class="grid-list-item">
              <img src="{site_url}app/assets/img/2.png">
              <h4 class="mt-14 text-uppercase h5 light">Completa el formulario</h4>
              <p class="lh-sm small m-0 light">Y carga un video de dos minutos presentando tu iniciativa.</p>
            </li>
            <li class="grid-list-item">
              <img src="{site_url}app/assets/img/3.png">
              <h4 class="mt-14 text-uppercase h5 light">Espera el resultado</h4>
              <p class="lh-sm small m-0 light">Publicaremos los 20 proyectos para una votación publica online.</p>
            </li>
            <li class="grid-list-item">
              <img src="{site_url}app/assets/img/4.png">
              <h4 class="mt-14 text-uppercase h5 light">Invita a votar online</h4>
              <p class="lh-sm small m-0 light">La votación es online y un comité evaluador definirá las 5 mejores iniciativas.</p>
            </li>
            <li class="grid-list-item ph -7">
              <img src="{site_url}app/assets/img/5.png">
              <h4 class="mt-14 text-uppercase h5 light">Espera el anuncio</h4>
              <p class="lh-sm small m-0 light">Un jurado evaluara las propuestas y seleccionará a un ganador.</p>
            </li>
          </ul>
          <!-- END: COMO FUNCIONA -->
          
          <img class="pv-35 separador"src="{site_url}app/assets/img/linea-separadora.png">

          <!-- QUE OFRECEMOS -->
          <h3 class="pt-28">¿Qué ofrecemos?</h3>
          <p class="h4 lh-lg text-gray-darker light pb-21">Cada vez son más los jóvenes que motivados por su optimismo, creatividad y sensibilidad antes los problemas sociales inician proyectos para transformas su entorno.</p>
          <div class="row" id="ofrecemos">
            <div class="col-md-12 m-ch-0 pv-35 col-xs-12">
              <!--<h4 class="asesoria">Asesoría estatégica</h4>
							<p class="h4 lh-lg text-gray-darker light pb-21">Apoyo económico de $40,000, además de capacitaciones en Liderazgo, Innovación y Design Thinking. También el premio ofrece asesoría estratégica en gestión eficiente de recursos y planeamiento, así como, asesoría legal y tributaria. De igual manera, a través de los canales de Kunan, se le dará mayor visibilidad a tu emprendimiento y finalmente, el ganador será parte de la primera red de jóvenes innovadores del Perú.</p>-->
          <div class="row">
            <div class="col-md-12 m-ch-0 pb-21">
              <h4>Asesoría estatégica</h4>
              <span class="light">Gestión eficiente</span>
            </div>
            <div class="col-md-4 col-xs-12 pr-0 pt-56 m-ch-0 text-right">
              <h4 class="red-jovenes">Red de jovenes innovadores</h4>
              <span class="light">Comunidad Kunan</span>
              <div class="minh-70 hidden-xs"></div>  
              <h4 class="pt-35 asesoria-legal">Asesoría legal y tributaria</h4>
              <span class="light">20 horas</span>
            </div>
            <div class="col-md-4 hidden-xs">
              <img src="{site_url}app/assets/img/poligono.png" class="hidden-xs">
            </div>
            <div class="col-md-4 col-xs-12 pl-0 pt-56 m-ch-0 text-left">
              <h4 class="capacitacion">Capacitación</h4>
              <span class="light">Liderazgo, innovación y Desing Thinking</span>
              <div class="minh-70 hidden-xs"></div>  
              <h4 class="pt-35 apoyo">Apoyo económico</h4>
              <span class="light">S/. 40,000</span>
            </div>
            <div class="col-md-12 col-xs-12 m-ch-0 pt-21">
              <h4 class="difusion">Difusión</h4>
              <span class="light">Exposición de medios</span>
            </div>
          </div>
          <!-- END: QUE OFRECEMOS -->
          
          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

					{embed="includes/cronograma-premios"}

         <!--  <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png"> -->

          <!-- JURADO -->
          <!--<h2 class="pb-35">El jurado</h2>
          <div class="row">
            <div class="col-md-6">
	            {exp:channel:entries channel="jurado" entry_id="6" disable="member_data|pagination" dynamic="off"}
              <div class="row pb-14 text-right">
              	{imgen-jurado}
	              <a href="{site_url}jurado/{url_title}">
		              <img src="{image:url:small}">
	              </a>  
	              {/imgen-jurado}
              </div>
              {/exp:channel:entries}
              {exp:channel:entries channel="jurado" entry_id="7" disable="member_data|pagination" dynamic="off"}
              <div class="row pb-14 text-right ">
                <div class="col-md-6 pb-14 pr-0">
                  <h3 class="mv-7">
	                  <a href="{site_url}jurado/{url_title}">{title}</a>
	                </h3>
                  <p class="text-gray text-uppercase small">{jurado-cargo}</p>
                  <p class="small lh-sm text-gray">
	                  {exp:char_limit total="100" exact="no"}
	                  	{jurado-introduccion}
										{/exp:char_limit}
	                </p>
                </div>
                <div class="col-md-1 mt-14">
                  <img src="{site_url}app/assets/img/flecha-mariel.png">
                </div>
                <div class="col-md-5 pr-0">
	              	{imgen-jurado}
		              <a href="{site_url}jurado/{url_title}">
			              <img class="img-responsive"  src="{image:url:small}">
		              </a> 		              
		              {/imgen-jurado}     
                </div>
              </div>
              {/exp:channel:entries}
              {exp:channel:entries channel="jurado" entry_id="9" disable="member_data|pagination" dynamic="off"}
              <div class="row text-right">
                <div class="col-md-4"></div>
                <div class="col-md-7 pr-0">
                  <h3 class="mv-7">
	                  <a href="{site_url}jurado/{url_title}">{title}</a>
	                </h3>
                  <p class="text-gray text-uppercase small">{jurado-cargo}</p>
                  <p class="small lh-sm text-gray">
	                  {exp:char_limit total="100" exact="no"}
	                  	{jurado-introduccion}
										{/exp:char_limit}
	                </p>
                </div>
                <div class="col-md-1 mt-14">
                  <img src="{site_url}app/assets/img/flecha-alvaro.png">
                </div>  
              </div>
              {/exp:channel:entries}
            </div>
            <div class="col-md-6 text-left">
	            {exp:channel:entries channel="jurado" entry_id="6" disable="member_data|pagination" dynamic="off"}
              <div class="row pb-14">
                <div class="col-md-1 mt-14">
                  <img src="{site_url}app/assets/img/flecha-gaston.png">
                </div>
                <div class="col-md-7 pl-0">
                  <h3 class="mv-7">
	                  <a href="{site_url}jurado/{url_title}">{title}</a>
	                </h3>
                  <p class="text-gray text-uppercase small">{jurado-cargo}</p>
                  <p class="small lh-sm text-gray">
	                  {exp:char_limit total="100" exact="no"}
	                  	{jurado-introduccion}
										{/exp:char_limit}
	                </p>
                </div>
              </div>
              {/exp:channel:entries}
              {exp:channel:entries channel="jurado" entry_id="8" disable="member_data|pagination" dynamic="off"}
              <div class="row pb-14">
                <div class="col-md-5 pr-0">
	              	{imgen-jurado}
		              <a href="{site_url}jurado/{url_title}">
			              <img class="img-responsive"  src="{image:url:small}">
		              </a> 		              
		              {/imgen-jurado}  
                </div>
                <div class="col-md-1 mt-14">
                  <img src="{site_url}app/assets/img/flecha-vania.png">
                </div>
                <div class="col-md-6 pr-0 pl-0">
	                <h3 class="mv-7">
	                  <a href="{site_url}jurado/{url_title}">{title}</a>
	                </h3>
                  <p class="text-gray text-uppercase small">{jurado-cargo}</p>
                  <p class="small lh-sm text-gray">
	                  {exp:char_limit total="100" exact="no"}
	                  	{jurado-introduccion}
										{/exp:char_limit}
	                </p>
                </div>
              </div>
              {/exp:channel:entries}
              {exp:channel:entries channel="jurado" entry_id="9" disable="member_data|pagination" dynamic="off"}
              <div class="row text-left">
                <div class="col-md-12">
	                {imgen-jurado}
		              <a href="{site_url}jurado/{url_title}">
                  	<img class="img-responsive" src="{image:url:small}">
		              </a>
		              {/imgen-jurado}
                </div>
              </div>
              {/exp:channel:entries}
            </div>
          </div>-->
          <!-- END: JURADO -->

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

          {embed="includes/modulo-bitacora"}

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
          
          <!-- SOCIOS ESTRATEGICOS-->
          {embed="includes/socios-estrategicos"}
          <!-- END: SOCIOS ESTRATEGICOS-->
        </div>
      </section>
      <!-- END: DESCRIPTION -->
			{embed="includes/formulario"}
      {embed="includes/estadistica"}
    </main>
{embed="includes/footer"} 