{embed="includes/header"}
{embed="includes/navegacion"}
    <main class="site-content">
      <section id="hero-image" class="minhp-100" style="background-image:url({site_url}app/assets/img/kunan_main.png)">
        <div class="bg-hero-image minhp-100">
          <div class="container-sm minh-280-lg minh-140-xs"></div>  
          <div class="container-md ph-35-xs text-white text-center pt-70">
            <h1 class="m-0 pv-14 pb-42-xs light text-uppercase">Innovación que transforma</h1>
            <p class="lead">Kunan es un programa que impulsa, integra e inspira el emprendimiento y la innovación social de jóvenes “millennials” en el Perú.</p>
            <!--<img class="hidden-xs" src="{site_url}app/assets/img/Ovalos.png" alt="">
            <p class="pv-7 small"><em>Cierre el 27 de Julio</em></p>-->
            <div class="container-xs row pb-63">
              <div class="col-md-6 col-xs-12 pb-14-xs"><a href="" class="btn btn-primary col-md-12 col-xs-12"><p class="small m-0">CONOCE LAS BASES</p></a></div>
              <div class="col-md-6 col-xs-12"><a href="" class="btn btn-primary col-md-12 col-xs-12"><p class="small m-0">COMPLETE EL FORMULARIO</p></a></div>
            </div>
            <a href="">
              <img src="{site_url}app/assets/img/triangulo-bajada.png" alt="">
            </a>
          </div>
        </div>
      </section>
      <!-- DESCRIPTION -->
      <section class="text-center">
        <div class="container-md text-gray-darker pv-70">
          <p class="m-0 lead text-gray">Son los jóvenes que motivados por su optimismo, creatividad y sensibilidad ante los problemas sociales inician proyectos sociales que ayudan a construir un mejor Perú.</p>
          <h2 class="pt-28 h5 light pb-7 text-gray-darker text-uppercase">¿Por qué estamos aquí?</h2>
          <p class="container-sm light lh-xs text-gray">Queremos consolidar el ecosistema de emprendimientos, inspirando, impulsando e integrando iniciativas innovadoras que generan valor. </p>
          <p class="pt-21 h4 light"><dfn>Kunan significa AHORA y el futuro es AHORA.</dfn></p>
          
          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
          
          <h2 class="pb-35 h4 light text-gray-darker text-uppercase">Nuestro reto</h2>
          <ul class="grid-list grid-list-3 grid-list-1-xs text-center">
            <li class="grid-list-item pv-28-xs">
              <img class="img-responsive" src="{site_url}app/assets/img/impulsa.png">
              <p class="pt-14 light text-uppercase text-gray-darker">Impulsar</p>
              <p class="lh-sm small m-0 light text-gray">A través del PREMIO KUNAN, reconocemos emprendimientos sociales liderados por jóvenes millennials que destaquen por ser innovadores, escalables y sostenibles.</p>
            </li>
            <li class="grid-list-item pv-28-xs">
              <img class="img-responsive" src="{site_url}app/assets/img/integra.png">
              <p class="pt-14 light text-uppercase text-gray-darker">Integrar</p>
              <p class="lh-sm small m-0 light text-gray">La COMUNIDAD KUNAN, un espacio abierto para emprendedores sociales con una identidad común, que conecta e integra nuevas ideas para ponerlas en acción.</p>
            </li>
            <li class="grid-list-item pv-28-xs">
              <img class="img-responsive" src="{site_url}app/assets/img/inspira.png">
              <p class="pt-14 light text-uppercase text-gray-darker">Inspirar</p>
              <p class="lh-sm small m-0 light text-gray">A que más jóvenes emprendedores desarrollen sus ideas, Kunan TV es un canal que acerca las historias emprendedoras de HOY que generan valor en el país.</p>
            </li>
          </ul> 

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

          <h2 class="pb-21 h4 light text-uppercase">Líneas de acción</h2>
          <ul class="grid-list grid-list-3 grid-list-1-xs text-center text-gray-darker">
            <li class="grid-list-item">
              <img class="icon-lineas-de-accion" src="{site_url}app/assets/img/icon-premio.png">
              <h3 class="mt-14 h5 light text-uppercase">Premio</h3>
              <p class="lh-sm small m-0 light text-gray">Identifica, difunde e impulsa iniciativas innovadoras que crean valor.
              </p>
              <a href="{site_url}premio">
                <p class="pv-7 small text-primary text-hover-primary light">Leer más ›</p>
              </a>
            </li>
            <li class="grid-list-item">
              <img class="icon-lineas-de-accion" src="{site_url}app/assets/img/icon-comunidad.png">
              <h3 class="mt-14 h5 light text-uppercase">Comunidad</h3>
              <p class="lh-sm small m-0 light text-gray">Emprendedores sociales con una identidad común, conectados, comparten y cooperan.</p>
              <!--<a href="{site_url}comunidad">
                <p class="pv-7 small text-primary text-hover-primary light">Leer más ›</p>
              </a>-->
            </li>
            <li class="grid-list-item">
              <img class="icon-lineas-de-accion" src="{site_url}app/assets/img/icon-comunicacion.png">
              <h3 class="mt-14 h5 light text-uppercase">La Bitácora</h3>
              <p class="lh-sm small m-0 light text-gray">Posicionar el emprendimiento social como algo atractivo que inspira a los jóvenes a tomar acción.</p>
              <a href="{site_url}la-bitacora">
                <p class="pv-7 small text-primary text-hover-primary light ">Leer más ›</p>
              </a>
            </li>
          </ul>

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

          {embed="includes/modulo-bitacora"}

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

					{embed="includes/socios-estrategicos"}
					
        </div>
      </section>
      <!-- END: DESCRIPTION -->
      {embed="includes/formulario"}
      {embed="includes/estadistica"}
    </main>
{embed="includes/footer"} 