{embed="includes/header"}
{embed="includes/navegacion"}
    <main class="site-content">
      <section id="hero-image" class="hero-unit video-bg minhp-100">
        <video
          id="videocover"
          autoplay
          loop
          class="video-js videocover vjs-default-skin hidden-xs"
          muted
          preload="none">
            <source src="{site_url}app/assets/video/kunan3f_1_1.webm" type='video/webm' />
            <source src="{site_url}app/assets/video/kunan3f_1_1.ogv" type='video/ogv' />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <div class="video-overlay flex-middle-center text-white">
          <div class="container-sm text-center mt-70 pt-35 mb-ch-21 hero-text-shadow on-scroll relative">
            <!-- content -->
             <h1 class="text-uppercase text-white m-0 pv-14 pb-42-xs">Innovación que transforma</h1>
              <p class="lead">Kunan es un programa que impulsa, integra e inspira el emprendimiento y la innovación social<br> de jóvenes “millennials” en el Perú.</p>

              <div class="container-xs row pb-7">
                <!-- <div class="col-md-6 col-xs-12 pb-14-xs"><a href="" class="btn btn-primary col-md-12 col-xs-12"><p class="small m-0">CONOCE LAS BASES</p></a></div>
                <div class="col-md-6 col-xs-12"><a href="{site_url}login" class="btn btn-primary col-md-12 col-xs-12"><p class="small m-0">COMPLETE EL FORMULARIO</p></a></div> -->
                <a href="{site_url}login" class="btn btn-primary text-uppercase"><span class="small">Postula ahora</span></a>
                <a href="{site_url}app/assets/documentos/bases_kunan_premio_2015.pdf" target="_blank"><p class="small light mt-7 text-hover-gray-lighter">Conoce las bases</p></a>
              </div>
              <a href="#seccion-uno"><img class="triangle-down" src="{site_url}app/assets/img/triangulo-bajada.png" alt=""></a>
          </div>
          <a class="scroll-down scroll-down-sq size lg">
            <i class="icon-arrows-down bg-primary text-white"></i>
          </a>
        </div>
      </section>
      <!-- DESCRIPTION -->

      <section class="text-center pt-7">
        <div class="container-md text-gray-darker pb-70">
          <p class="m-0 lead text-gray">Son los jóvenes que motivados por su optimismo, creatividad y sensibilidad ante los problemas sociales inician proyectos sociales que ayudan a construir un mejor Perú.</p>
          <h2 id="porqueestamos" class="pt-28 h4 light pb-7 text-pink text-uppercase">¿Por qué estamos aquí?</h2>
          <p class="container-sm light lh-xs text-gray h4">Queremos consolidar el ecosistema de emprendimientos, inspirando, impulsando e integrando iniciativas innovadoras que generan valor. </p>

          <p class="pt-21 h4 light"><dfn>Kunan significa AHORA y el futuro es AHORA.</dfn></p>
          
          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
          
          <h2 id="nuestroreto" class="pb-35 h4 light text-black text-uppercase">Nuestro reto</h2>
          <ul class="grid-list grid-list-3 grid-list-1-xs text-center">
            <li class="grid-list-item pv-28-xs">
            	<div class="bg-gray-lighter">
              	<img class="img-responsive" src="{site_url}app/assets/img/impulsar.png">
            	</div>
              <p class="pt-14 light text-uppercase text-black">Impulsar</p>
              <p class="lh-sm small m-0 light text-gray">A través del PREMIO KUNAN, reconocemos emprendimientos sociales liderados por jóvenes millennials que destaquen por ser innovadores, escalables y sostenibles.</p>
            </li>
            <li class="grid-list-item pv-28-xs">
              <img class="img-responsive" src="{site_url}app/assets/img/integra.png">
              <p class="pt-14 light text-uppercase text-black">Integrar</p>
              <p class="lh-sm small m-0 light text-gray">La COMUNIDAD KUNAN, un espacio abierto para emprendedores sociales con una identidad común, que conecta e integra nuevas ideas para ponerlas en acción. </p>
            </li>
            <li class="grid-list-item pv-28-xs">
              <img class="img-responsive" src="{site_url}app/assets/img/Gaston_Acurio.png">
              <p class="pt-14 light text-uppercase text-black">Inspirar</p>
              <p class="lh-sm small m-0 light text-gray">A que más jóvenes emprendedores desarrollen sus ideas, Kunan TV es un canal que acerca las historias emprendedoras de HOY que generan valor en el país.</p>
            </li>
          </ul> 

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

          <h2 id="lineasdeaccion" class="pb-21 h4 light text-uppercase">Líneas de acción</h2>
          <ul class="grid-list grid-list-3 grid-list-1-xs text-center text-black">
            <li class="grid-list-item">
              <img class="icon-lineas-de-accion" src="{site_url}app/assets/img/Like_Buttom.png">
              <h3 class="mt-14 h5 light text-uppercase">Premio</h3>
              <p class="lh-sm small m-0 light text-gray">Identifica, difunde e impulsa iniciativas innovadoras que crean valor.</p>
              <a href="{site_url}premio">
                <p class="pv-7 small text-primary text-hover-primary light">Leer más ›</p>
              </a>
            </li>
            <li class="grid-list-item">
              <img class="icon-lineas-de-accion" src="{site_url}app/assets/img/icono-comunidad.png">
              <h3 class="mt-14 h5 light text-uppercase">Comunidad</h3>
              <p class="lh-sm small m-0 light text-gray">Emprendedores sociales con una identidad común, conectados, comparten y cooperan.</p>
              <a href="{site_url}comunidad">
                <p class="pv-7 small text-primary text-hover-primary light">Leer más ›</p>
              </a>
            </li>
            <li class="grid-list-item">
              <img class="icon-lineas-de-accion" src="{site_url}app/assets/img/icono_comunidad.png">
              <h3 class="mt-14 h5 light text-uppercase">La Bitácora</h3>
              <p class="lh-sm small m-0 light text-gray">Posicionar el emprendimiento social como algo atractivo que inspira a los jóvenes a tomar acción.</p>
              <a href="{site_url}la-bitacora">
                <p class="pv-7 small text-primary text-hover-primary light ">Leer más ›</p>
              </a>
            </li>
          </ul>

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

          {embed="includes/modulo-bitacora"}

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

					{embed="includes/socios-estrategicos"}
					
        </div>
      </section>
      <!-- END: DESCRIPTION -->
      {embed="includes/formulario"}
      {embed="includes/estadistica"}
    </main>
    
{embed="includes/footer"} 