{embed="includes/header"}
{embed="includes/navegacion-vistas"}
    <main class="site-content">
      <section class="minh-70"></section>
      <!-- DESCRIPTION -->
      <section class="text-left" id="description">
        <div class="container-md pv-70">
          <div class="row">
            <div class="col-md-9 col-md-offset-2 light text-left ">
              <h2 class="text-uppercase light h3 pb-28 text-left">Komunicación</h2>               
              {exp:channel:entries channel="la_bitacora" limit="10" disable="member_data" category="{segment_3_category_id}"}
              {if bitacora-imagen!=''}
	              {bitacora-imagen}
	              	<img class="img-responsive" src="{image:url:medium}">
	              {/bitacora-imagen}	 
              {if:else} 
              	<iframe width="100%" class="iframe" src="https://www.youtube.com/embed/{bitacora-video}" frameborder="0" allowfullscreen></iframe>
              {/if}
	            <h3 class="text-uppercase light h4 pb-7">{title}</h3>
	            {bitacora-autor}
              <div class="row">
                <div class="col-md-1 col-xs-2 pr-0 text-left">
                  <img class="img-responsive" src="{bitacora-autor:autor-imagen}">
                </div>
                <div class="col-md-11 col-xs-10 pl-14 text-left">
                  <p class="h5 m-0 pt-7">{bitacora-autor:title}</p>
                  <p class="h6 m-0 light text-gray-light"><a href="{bitacora-autor:autor-link-organizacion}" target="_blank">{bitacora-autor:autor-organizacion}</a> - {entry_date format="%d-%m-%Y"}</p>
                </div>
              </div>
              {/bitacora-autor} 
              <p class="h4 lh-lg light text-gray">{bitacora-descripcion}</p>
              <a href="{site_url}komunicacion/articulo/{url_title}" class="text-primary text-hover-primary h5">
                <p class="text-primary text-hover-primary pv-7 small light">Leer más ›</p>
              </a>
              <div class="text-center">
                <img class="pv-28 separador "src="{site_url}app/assets/img/linea-separadora.png">
              </div>
              <div class="text-gray-dark text-left">
              {paginate}
					        <p>Página {current_page} de {total_pages} páginas {pagination_links}</p>
					    {/paginate}
					    </div>
							{/exp:channel:entries}
            </div>
          </div>
        </div>
      </section>
      <!-- END: DESCRIPTION -->
			{embed="includes/formulario"}
			{embed="includes/estadistica"}
    </main>
{embed="includes/footer"}     