{exp:user:stats dynamic="off"}
	{embed="includes/query-check" miembro="{member_id}"}
{/exp:user:stats}	

{embed="includes/header"}
{embed="includes/navegacion-vistas"}
    <main class="site-content">
      <section class="minh-70"></section>
      <!-- DESCRIPTION -->
      <section class="text-left minhp-100" id="description">
        <div class="minh-70"></div>
        <div class="container-sm pv-70 text-center text-black">
          <h1 class="text-uppercase h2 light">Tus datos han sido guardados con éxito.</h1>
          <p class="text-gray lh-lg h4 mb-42">Recuerda quye para terminar tu postulacion es necesario seleccionar a opción de<br>ENVIAR TU POSTULACIÓN al final del formulario.</p>
          <p class="text-gray lh-lg mb-42">Regresa al <a href="{site_url}" class="text-primary">inicio.</a></p>   
        </div>
      </section>
      <!-- END: DESCRIPTION -->
      {embed="includes/estadistica"}
    </main>
{embed="includes/footer"} 