<!doctype html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,500" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div style="width: 748px; padding-left: 14px; padding-right: 14px; margin: 0 auto;">
			<section class="text-left minhp-100" id="description">
        <div style="min-height: 70px !important; text-align: center;"><img src="{site_url}app/assets/img/logo.png" class="text-center" width="100" alt="KUNAN"></div>
      </section>
			<div style="margin-left: -14px; margin-right: -14px; content: " "; display: table;">
				<div style="float: left; width:50% ">
					<h3 style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Regístrate</h3>
					{exp:user:register return="login/verifica"}
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Nombre y Apellido</label><br>
					    <input type="text" name="screen_name"/>
				    </p>					        
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Correo electrónico</label><br>
					    <input type="text" name="username" />
				    </p>
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Contraseña</label><br>
					    <input type="password" name="password" />
				    </p>
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Confirmar contraseña</label><br>
					    <input type="password" name="password_confirm" />
				    </p>
						{if no_results}
				    	<p>Para ver este formulario debes estar desconectado.</p>
						{/if}
					{/exp:user:register}
				</div>
				<div style="width:50%; float: left;">
					{exp:user:register return="login/verifica"}
					<h3 style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Regístrate con Facebook</h3>
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Nombre y Apellido</label><br>
					    <input type="text" name="screen_name"/>
				    </p>					        
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Correo electrónico</label><br>
					    <input type="text" name="username" />
				    </p>
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Contraseña</label><br>
					    <input type="password" name="password" />
				    </p>
						<p>
							<label class="small light text-uppercase" style="font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; color: #3E3F40; text-transform: uppercase; font-weight: 300;">Confirmar contraseña</label><br>
					    <input type="password" name="password_confirm" />
				    </p>
						{if no_results}
				    	<p>Para ver este formulario debes estar desconectado.</p>
						{/if}
					{/exp:user:register}
				</div>
			</div>
		</div>
	</body>
</html>
<!--     <main class="site-content">
			<section class="text-left minhp-100" id="description">
        <div class="minh-70 text-center"><img src="{site_url}app/assets/img/logo.png" class="text-center" width="100" alt="KUNAN"></div>      <!-- DESCRIPTION -->
<!--       <section class="text-left minhp-100" id="description">
        <div class="minh-70"></div>
        <div class="container-sm pv-70 text-center">
          <h1 class="text-gray-darker text-uppercase light h2">Regístrate o ingresa para votar</h1>
          <p class="light h4 lh-lg mb-42">Usa estos formularios para registrarte o entrar al sistema de aplicaciones. </p>   
	        <div class="row">
		        <div class="col-md-6 text-left">
		        	<div class="p-14 border-skyblue">
				        <h3 class="text-gray-darker text-uppercase light h4">Regístrate</h3>
								{exp:user:register return="login/verifica"}
										<p>
											<label class="small light text-uppercase">Nombre y Apellido</label><br>
									    <input type="text" name="screen_name"/>
								    </p>					        
										<p>
											<label class="small light text-uppercase">Correo electrónico</label><br>
									    <input type="text" name="username" />
								    </p>
										<p>
											<label class="small light text-uppercase">Contraseña</label><br>
									    <input type="password" name="password" />
								    </p>
										<p>
											<label class="small light text-uppercase">Confirmar contraseña</label><br> -->
<!-- 
							</div>
		        </div>
		        </div>
	        </div>  
        </div>
      </section>
      <!-- END: DESCRIPTION
    </main>
