{embed="includes/header"}
{embed="includes/navegacion-vistas"}
    <main class="site-content">
      <section class="minh-70"></section>
      <!-- DESCRIPTION -->
      <section class="text-left minhp-100" id="description">
        <div class="minh-42"></div>
        <div class="container-md pv-63 text-center text-black">
          <h1 class=" text-primary">Restablecer Contraseña</h1>
          <p class="text-gray">
              Este formulario te permitirá cambiar tu contraseña.
          </p>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              {exp:user:reset_password
                  reset_code="{segment_3}"
                  return="login/gracias-restablecer"
                  form:id="restablecer-contrasena"
              }
                  {if user_no_results}
                      <h4>El token de restabecimiento es inválido.</h4>
                  {/if}
              
              
                  <p>
                      <label for="password" class=" light text-gray mt-21">Nueva contraseña</label><br/>
                      <input type="password" name="password" id="password" />
                  </p>
              
                  <p>
                      <label for="password_confirm" class=" light text-gray mt-21">Confirmar la nueva contraseña</label><br/>
                      
                      <input type="password" name="password_confirm" />
                  </p>
              
                  <p>
                      <input type="submit" value="Enviar" class="btn btn-sky ml-0 mv-35" />
                  </p>
              {/exp:user:reset_password}
            </div>        
          </div>
        </div>
      </section>
      <!-- END: DESCRIPTION -->
    </main>
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    $('#restablecer-contrasena').validate({
          rules: {
            password : {
              required : true,
              minlength : 5,
            },
            password_confirm:{
              required : true,
              minlength : 5,
              equalTo: "#password"
            }
          },
          messages: {
            password : {
              required : "Ingrese su nueva contraseña",
              minlength: "Su contraseña debe tener al menos 5 caracteres."
            },
            password_confirm:{
              required : "Ingrese su nueva contraseña",
              minlength: "Su contraseña debe tener al menos 5 caracteres.",
              equalTo: "Confirmar contraseña debe ser igual Nueva Contraseña"
            }
          }
    });
  });
</script>
{embed="includes/footer"} 