{embed="includes/header"}
{embed="includes/navegacion-vistas"}

<main class="site-content">
  <section class="minh-140"></section>
  <section class="text-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2 mb-21">
          <img src="{site_url}app/assets/img/logo.png" alt="" width="60" class="">
        </div>
			</div>
		</div>
	</section>
	<section>
		<div class="container-md">
			<h2 class="text-center text-black mb-21 lh-lg mt-7">Votación Kunan 2015</h2>
			<h4 class="text-center text-gray lh-lg fz-sm mt-7">Estos son los 10 semifinalistas que lograron pasar a la fase 3 de evaluación. Ahora te toca apoyarlos con tu voto y hacer que tu emprendimiento favorito pase directamente a la gran final. </h4>
      <h5 class="text-center text-gray lh-lg mt-7">Recuerda que el emprendimiento más votado será 1 de los 5 emprendimientos finalistas que presentarán su "Pitch" en el Evento de Premiación y los otros 4 finalistas serán elegidos en base a la entrevista de evaluación por el Comité Evaluador de la fase 3 (70%-entrevista) y la cantidad de votos obtenidos en la web (30%-votos)</h5>
			<div class="row mt-35">
     {exp:rating:rank channel="votacion" 
                      display_unrated="yes" 
                      collection="votos" 
                      sort="desc"
                      orderby="rating"} 
				<div class="col-md-6 mt-28">
					<div class="col-md-5 col-md-offset-1 col-xs-5">
							<div class="caja-ranking">
								<div class="border-esquina absolute"></div>
								<div class="text-counter"><h3 class="light">{count}°</h3></div>
                <a href="{site_url}votacion/proyecto-perfil/{entry_id}">
								  <img src="{logo}" alt="{nombre_del_proyecto}" class="img-responsive img-scale">
                </a>
							</div>
					</div>
					<div class="col-md-6 pl-0">
						<a href="{site_url}votacion/proyecto-perfil/{entry_id}">
							<h5 class="book titulo-proyecto mt-7 mb-0">{nombre_del_proyecto}</h5>
						</a>
						<small><dfn>{sector_proyecto}, {lugar_proyecto}</dfn></small>

      
            <h6 class="text-uppercase mt-14 text-primary fz-xs light mb-7">VOTOS RECIBIDOS</h6>
                {if logged_in}
                    {exp:rating:form
                      entry_id="{entry_id}"
                      collection="Votos"
                      return="gracias/voto/{title}"
                      anonymous="no" 
                      allow_duplicates="no"
                    }                     
                    <input type="hidden" name="rating" id="rating" value="1" class="text-gray light btn-outline btn-gray btn-votacion">
                      <i class="text-gray light btn-outline btn-gray btn-votacion">
                        {exp:rating:stats entry_id="{entry_id}"}
                          {overall_count}
                          {if rating_no_results}
                            0
                          {/if}
                        {/exp:rating:stats}
                      </i>
                    <a href="{site_url}votacion/proyecto-perfil/{entry_id}" class=" btn-primary text-white btn btn-vota">
                      <span><small>VOTAR</small></span>
                    </a> 
                    {/exp:rating:form}      
                  {if:else}
                    <input type="hidden" name="rating" id="rating" value="1" class="text-gray light btn-outline btn-gray btn-votacion">
                      <i class="text-gray light btn-outline btn-gray btn-votacion">
                    {exp:rating:stats entry_id="{entry_id}"}
                      {overall_count}
                      {if rating_no_results}
                        0 
                      {/if}
                    {/exp:rating:stats}
                    </i>
                    <a href="{site_url}votacion/proyecto-perfil/{entry_id}" class=" btn-primary text-white btn btn-vota">
                      <span><small>Voto(s)</small></span>
                    </a> 
                {/if}
          </div>
        </div>
          {/exp:rating:rank} 
      </div>
    </div>
  </section>
  <section class="text-center mtp-7">
    <div class="container-md text-gray-darker pb-70">
      {embed="includes/modulo-bitacora"}
      <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
      {embed="includes/socios-estrategicos"}
    </div>
  </section>
  <div id="unete">
     {embed="includes/estadistica"}
   </div>
</main>
    
{embed="includes/footer"} 
