{embed="includes/header"}
{embed="includes/navegacion-vistas"}
<main class="site-content">
      <section class="minh-70 hidden-xs"></section>
      <section id="hero-image" class="minhp-70 minhp-20-xs" style="background:url({site_url}app/assets/img/voluntades-slide.png)">
        <div class="bg-hero-image minhp-70">
          <div class="container-md minh-350 minh-70-xs"></div>  
          <div class="container-md text-white pb-21">
            <div class="row">
              <div class="col-md-2 absolute col-xs-6 bg-gray-lighter p-14">
                <img class="img-responsive" width="" src="{site_url}app/assets/img/voluntades.png">
	              <div class="row pt-28 mb-14">
	                <div class="col-md-3 col-xs-2 pr-0">
	                  <img src="{site_url}app/assets/img/mariana.png" class="img-responsive">
	                </div>
	                <div class="col-md-9 col-xs-10 light">
	                  <p class="h6 m-0 text-gray-dark pt-7">Mariana Costa</p>
	                  <p class="h6 m-0 text-gray light"><dfn>CEO Voluntades</dfn></p>
	                </div>
	              </div>
	                <p class="small text-gray fz-proyectos m-0"><span class="text-black light">E-mail:</span> email@gmail.com</p>
	                <p class="small text-gray fz-proyectos m-0"><span class="text-black light">Website:</span> http://voluntades.pe</p>
	                <p class="small text-gray fz-proyectos m-0"><span class="text-black light">Teléfono:</span> 987654321</p>

	                <p class="m-0"><span class="text-black light mt-21 fz-proyectos">Síguenos en:</span></p>
	                <a href="" target="_blank"><img class="icon-perfil" src="{site_url}app/assets/img/facebook-negro.png"></a>
			            <a href="" target="_blank"><img class="icon-perfil mh-7" src="{site_url}app/assets/img/instagram-negro.png"></a>
			            <a href="" target="_blank"><img class="icon-perfil" src="{site_url}app/assets/img/twitter-negro.png"></a>

			            <h6 class="text-uppercase mt-14 text-primary fz-xs light mb-7">VOTOS RECIBIDOS</h6>
									<p class="text-gray light small bg-white btn-outline btn-votacion-perfil">13,123</p>
									<a href="" class="text-uppercase btn-primary text-white btn btn-vota-perfil"> <span class="light ">Vota</span></a>
              </div>
              <div class="col-md-9 col-xs-6 light col-md-offset-3">
                <h2 class="text-white m-0 pl-35-xs pt-35-xs pv-14">Construye identidad</h2>
                <p class="hidden-xs">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that the monkey-rope was fast at both ends; fast to Queequeg's broad canvas belt, and fast.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- DESCRIPTION -->
      <section class="text-left" id="description">
        <div class="container-md pv-70">
          <div class="row">
            <!-- <div class="col-md-3 col-xs-12 pb-35-xs light text-gray">
              <div class="col-md-12 col-xs-8">
                <h2 class="m-0 mb-7 text-gray-darker pt-28-xs">Voluntades</h2>
                <p class="small m-0"><dfn>Medio Ambiente</dfn></p>
                <p class="small m-0"><dfn>Lima</dfn></p>
                <p class="small m-0"><dfn>email@gmail.com</dfn></p>
              </div>
              <div class="col-md-12 col-xs-4 pl-14-lg mt-28-lg pt-28-xs mt-14-xs text-center">
                <div class="col-md-8 col-xs-12 border-left-primary border-top-primary border-bottom-primary border-right-primary border-radius ph-0">
                  <div class="bg-primary">
                    <div class="col-md-4 col-xs-12 bg-white">
                      <p class="text-primary mv-7-lg mv-14-xs">24</p>
                    </div>
                    <div class="col-md-8 col-xs-12 p-0-xs bg-primary">
                      <p class="text-white mv-7-lg mv-0-xs text-center">VOTOS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            
            <div class="col-md-9 light text-center col-md-offset-3">

              <div class="text-left text-gray container-sm">
                <p class="h4 light lh-lg mt-7 mb-56">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that the monkey-rope was fast at both ends; fast to Queequeg's broad canvas belt, and fast to my narrow leather one. So that for better or for worse, we two, for the time, were wedded; and should poor Queequeg's sink to rise no more, then both usage and honour demanded, that instead of cutting the cord, it should drag me down in his wake. So, then, an elingated Siamese ligature united us. Queequeg was my own inseparable twin brother, nor could I any way get rid of the dangerous liabilities which the hempen bond entailed.</p>

                <h2 class="mb-21 text-gray-darker">Subtítulo</h2>

                <p class="h4 light lh-lg">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that the monkey-rope was fast at both ends; fast to Queequeg's broad canvas belt, and fast to my narrow leather one. So that for better or for worse, we two, for the time, were wedded; and should poor Queequeg's sink to rise no more.</p>
              </div>
              
              <img class="pv-56"src="{site_url}app/assets/img/linea-separadora.png">
              <h2 class="pb-28 text-gray-darker">Otros proyectos que te recomendamos</h2>

              <ul class="grid-list grid-list-3 grid-list-1-xs ph-28-xs text-left">
                <li class="grid-list-item">
                  <div class="bg-gray-lighter">
                    <img class="img-responsive" src="{site_url}app/assets/img/rojo.png">
                    <div class="p-14 minh-280">
                      <h4 class="m-0 pt-14 text-gray-darker">Construye identidad</h4>
                      <p class="text-gray-light small">nombre@gmail.com</p>
                      <p class="mt-21 lh-sm small m-0 light">Como reacción ante el uso de nuevas técnicas constructivas industriales que desplazan las tradicionales.</p>
                      <div class="row">
                        <div class="col-md-8 col-xs-7">
                          <h5 class="m-0 pt-14 text-gray-darker">Sector</h5>
                          <p class="text-gray-light small m-0 light small">Inclusión social</p>
                        </div>
                        <div class="col-md-4 col-xs5 pl-0">
                          <h5 class="m-0 pt-14 text-gray-darker">Ubicación</h5>
                          <p class="text-gray-light small m-0 light small">Lima</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="grid-list-item">
                  <div class="bg-gray-lighter">
                    <img class="img-responsive" src="{site_url}app/assets/img/vasos.png">
                    <div class="p-14 minh-280">
                      <h4 class="m-0 pt-14 text-gray-darker">Construye identidad</h4>
                      <p class="text-gray-light small">nombre@gmail.com</p>
                      <p class="mt-21 lh-sm small m-0 light">Como reacción ante el uso de nuevas técnicas constructivas industriales que desplazan las tradicionales.</p>
                      <div class="row">
                        <div class="col-md-8 col-xs-7">
                          <h5 class="m-0 pt-14 text-gray-darker">Sector</h5>
                          <p class="text-gray-light small m-0 light small">Inclusión social</p>
                        </div>
                        <div class="col-md-4 col-xs5 pl-0">
                          <h5 class="m-0 pt-14 text-gray-darker">Ubicación</h5>
                          <p class="text-gray-light small m-0 light small">Lima</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="grid-list-item">
                  <div class="bg-gray-lighter">
                    <img class="img-responsive" src="{site_url}app/assets/img/uvas.png">
                    <div class="p-14 minh-280">
                      <h4 class="m-0 pt-14 text-gray-darker">Construye identidad</h4>
                      <p class="text-gray-light small">nombre@gmail.com</p>
                      <p class="mt-21 lh-sm small m-0 light">Como reacción ante el uso de nuevas técnicas constructivas industriales que desplazan las tradicionales.</p>
                      <div class="row">
                        <div class="col-md-8 col-xs-7">
                          <h5 class="m-0 pt-14 text-gray-darker">Sector</h5>
                          <p class="text-gray-light small m-0 light small">Inclusión social</p>
                        </div>
                        <div class="col-md-4 col-xs5 pl-0">
                          <h5 class="m-0 pt-14 text-gray-darker">Ubicación</h5>
                          <p class="text-gray-light small m-0 light small">Lima</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- END: DESCRIPTION --> 
    </main>
    <div id="unete">
      {embed="includes/estadistica"}
    </div>
    
{embed="includes/footer"} 