/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {
	background-color: $body-bg;	
	h1, h2, h3, h4, h5, h6{
		font-family: "Ailerons";
	}
	p{
		font-family: $font-family-sans-serif;
	}
	span{
		font-family: $font-family-serif;
	}
	a:hover{
		text-decoration: none;
	}
}


.site-wrapper,
.site-content {
	position: relative;
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}


/* Fonts */

@font-face{
	font-family: "Ailerons";
	src: url(../fonts/Ailerons.ttf);
}


/*MENU*/
#menu {
	position: fixed;
	z-index: 10;
	padding-top: 18px;
	@include transition(all .2s ease-in);
	nav {
		.hidden {
			visibility: hidden;
		}
		a {
			font-size: 14px;
			font-size: rem(14px);
			padding: 0 10px; 
			text-decoration: none;
			// font-family: museo-sans;
			img {
				position: absolute;
			}
			.votacion,
			img {
				visibility: hidden;
			}
		}
	}
}
.active {
	background-color: #fff;
	height: 129px;
	padding-top: 0!important;
	padding-left: 0!important;
	@include flex-column-center;
	nav a {
		color: rgb(106, 106, 106)!important;
		img {
			width: 85px;
			position: relative!important;
		}
		img, 
		.votacion{
			visibility: visible!important;
		}
	}
}

.text-black{
	color: black;
}

.text-blue-banner{
	color: #1184C6;
}

/*HER0 IMAGE*/
#hero-image {
	background-repeat: no-repeat;
  	background-size: cover!important;
  	.bg-hero-image{
  		background-color: rgba(0,0,0,0.4);
  	}
}

#estadisticas {
	.numbers{
		font-size: 130px;
		letter-spacing: -12px;
	}
}