/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {
	background-color: $body-bg;	
}

.site-wrapper,
.site-content {
	position: relative;
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}

@font-face src;
/*MENU*/
#menu {
	position: fixed;
	z-index: 10;
	padding-top: 18px;
	nav {
		a {
			font-size: 14px;
			font-size: rem(14px);
			padding: 0 10px; 
			text-decoration: none;
		}
	}
}

/*HER0 IMAGE*/
#hero-image {
	.overlay {
		width: 100%;
		background-color: rgba(0,0,0,0.3);
		position: absolute;
	}
	.central-text {
		position: absolute;
		bottom: 20%;
		left: 50%;
		@include transform(translateX(-50%));
		h2 {
			font-size: 40px;
			font-size: rem(40px);
		}
		p {
			font-size: 26px;
			font-size: rem(26px);
			line-height: 1.2;
		}
		.botons {
			.btn {
				width: 203px;
				height: 40px;
			}
		}
	}
}