/*
	EBM Global styles
*/

body {
	background-color: $body-bg;	
	h1, h2, h3, h4, h5, h6{
		font-family: $font-family-sans-serif;
		font-weight: 300;
		color: black;
	}
	p{
		font-family: $font-family-sans-serif;
	}
	span{
		font-family: $font-family-serif;
	}
	a:hover{
		text-decoration: none;
	}
}


.site-wrapper,
.site-content {
	position: relative;
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1900px;
@media #{$xs-only} {
	.text-center-xs{
		text-align: center;
	}
}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {
}
@media #{$sm-down} {}
@media #{$md-down} {
	#estadisticas{
		text-align: center;
	}
	.footer{
		text-align: center;
	}

}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {
	.iframe{
		height: 415px;
	}
}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {
	video{
		display: none !important;
	}
}
@media only screen and (min-width: $xxl-desktop) {
	video{
		display: none !important;
	}
}


/*MENU*/

#menu, #menu-vistas{
	position: fixed;
	z-index: 100;
	height: 90px;
	.header-left{
		img{
			width: 60px;
		}
	}
	.header-center{
		nav{
			padding-top: 20px;
			color: #999;
			a{
				font-size: 12px;
				padding: 0 10px;
				&:hover{
					color: #d1d1d1;
				}
			}
			
		}
	}
	.header-right{
		a{
			font-size: 12px;
			padding: 0 10px;
			&:hover{
				color: #d1d1d1;
			}
		}
		// .btn-out{
		// 	visibility: hidden;
		// }
	}
}

.home{
	.header-left{
		img{
			visibility: hidden;
		}
	}
	.header-center{

	}
	.header-right{

	}
}

.img-socios{
	z-index: 99;
}

.active{
	background-color: #f7f7f7;
	height: 90px;
	@include flex-column-center;
	webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	-o-transform: translateY(0);
  	transform: translateY(0);
  	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
  	-webkit-transform: translateZ(0);
  	.header-left{
  		img{
  			visibility: visible;
  		}
  	}
  	.header-center{
  		nav{
  			color: #e1e1e1 !important;
  			a{
  				color: #333 !important;
  				&:hover{
  					color: #e83f95 !important;
  				}
  			}
  		}
  	}
  	.header-right{
  // 		.btn-out{
		// 	visibility: visible !important;
		// }
  	}
}


.vistas{
	background-color: white;
	padding-top: 10px;
	.header-left{
	}
	.header-center{
		nav{
			a{
				color: $gray-darker;
			}
		}
	}
	.header-right{}
}


.border-right-top{
	width: 400px;
  	top: 0;
  	right: 0;
  	position: absolute;
}

.border-left-bottom{
	  position: absolute;
	  width: 400px;
	  left: 0;
	  bottom: 0;
	  z-index: 0;
}
  
.icon-footer{
	height: 30px;
}

#porqueestamos{
	color: #e83f95;
}

.text-black{
	color: black;
}

.text-pink{
	color: #e83f95;
}

.text-blue-banner{
	color: #1184C6;
}

.margin-auto{
	margin: 0 auto;
}

/*HER0 IMAGE*/
#hero-image {
	background-repeat: no-repeat;
	background-size: cover!important;
	background-position: center;
	background-image:url(http://s18.postimg.org/ry766p1mh/kunan_main.png);
	.bg-hero-image{
		background-color: rgba(0,0,0,0.4);
		height: 100%;
	}
	@media #{$xs-only} {
		background-image:url(http://s18.postimg.org/ry766p1mh/kunan_main.png);  
		background-position-x: -191px !important;
	}
}

#formulario{
	background-image: url(../img/completa-el-formulario.png);
	background-repeat: no-repeat;
	background-size: cover;
}


#estadisticas {
	.numbers{
		font-size: 80px;
	}
}

.icon-lineas-de-accion{
	width: 90px;
}

.separador{
	width: 40px;
}

.triangle-down{
	width: 30px;
}

input {
	width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $gray-light;
}

.hero-unit {
	&.video-bg {
		overflow: hidden;
  	height: 667px;
  	position: relative;
	}
}


.video-js {
	position: relative !important;
  height: 667px !important;
}

.video-overlay {
  position: absolute;
  top: 180px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
 }

@media #{$xs-only} {
	#content-estadistica {
	 	.col-md-4,
	 	.col-md-2 {
	 		text-align: center;
	 		p {
	 			text-align: center !important;
	 		}
	 	}
	}
}

//Estadistica responsive
.ff_composer {
	.size1of4 {
		@media #{$xs-only} {
			width: 100% !important;
		}
	}
}

.img-socios {
	padding-left: 0px !important;
	@media #{$xs-only} {
		padding-left: 14px !important;
	}
}

@media #{$xs-only} {
	#ofrecemos {
		.asesoria-legal {
			color: #1785c9;
		}
		.red-jovenes {
			color: #ef7c31;
		}
		.capacitacion {
			color: #be1d88;
		}
		.apoyo {
			color: #e8e96a;
		}
		.difusion {
			color: #61afe6;
		}
		.col-xs-12 {
			text-align: center !important;
			padding: 21px 0 !important;
		}
	}
}


/* FORMULARIO */
.ff_composer{
	.line{
		label{
			font-weight: 400;
			display: block;
		}
		.field_label{
			font-weight: 300;
		}
		p{
			display: inline;
		}
	}
}

label[for="freeform_genero_1"],
label[for="freeform_genero_2"],
label[for="freeform_esta_inscrita_en_registros_publicos_1"],
label[for="freeform_esta_inscrita_en_registros_publicos_2"],
label[for="freeform_fuente_de_financiamiento_1"],
label[for="freeform_fuente_de_financiamiento_2"],
label[for="freeform_fuente_de_financiamiento_3"],
label[for="freeform_fuente_de_financiamiento_4"],
label[for="freeform_fuente_de_financiamiento_5"],
label[for="freeform_fondos_administrados_durante_el_ano_2014_1"],
label[for="freeform_fondos_administrados_durante_el_ano_2014_2"],
label[for="freeform_fondos_administrados_durante_el_ano_2014_3"],
label[for="freeform_fondos_administrados_durante_el_ano_2014_4"],
label[for="freeform_fondos_administrados_durante_el_ano_2014_5"],
label[for="freeform_fondos_administrados_durante_el_ano_2014_6"]{
	display: inline !important;
}

input[id="freeform_video"]{
	display: block;
	margin-bottom: 10px;
}

select[id="freeform_edad"]{
	width: 100px;
	text-indent: 35%;
}

input[type="checkbox"]{
	width: 14px;
}

input[type="radio"]{
	width: 14px;
}

/* END: FORMULARIO */

/* PRUEBA MENU-RESPONSIVE */

.menu-toggle {
  width: 40px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
  z-index: 100;
  
  &.on {
    .one {
      @include transform(rotate(45deg) translate(7px, 7px));
    }

    .two {
      opacity: 0;
    }

    .three {
      @include transform (rotate(-45deg) translate(8px, -10px));
    }
  }
}

.logo-responsive{
	width: 60px;
	margin-left: 25px;
	margin-top: 4px;
}

.one,
.two,
.three{
  width: 100%;
  height: 3px;
  background: white;
  margin: 8px auto;
  backface-visibility: hidden;
  @include transition-duration(0.3s);
}

nav ul{
  list-style: none;
  margin: 4em auto;
  padding-top: 110px;
  padding-left: 32px;
  &.hidden {
    display: none;
  }
    
    a {
    @include transition-duration(0.5s);
    text-decoration: none;
    line-height: 1.5;
    width: 100%;
    display: block;
    }
}

.menu-section {
	width: 100%;
  height: 60px;
  position: fixed;
  background-color: black;
  z-index: 100;
  
  &.on {
	  z-index: 100;
	  width: 100% !important;
	  height: 100% !important;
	  display: block;
	  background-image: url(../img/bg-kunan-responsive.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	  position: fixed;
  }
}



/* END: PRUEBA MENU-RESPONSIVE */
input[name="submit"] {
	border: 1px solid #ea6616;
  color: white;
  width: 94px;
  border-radius: 3px;
  margin-left: 40%;
  margin-top: 21px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ea6616;
  @media #{$xs-only} {
  	margin-left: 0px;
  }
}

// .formulario-text {
// 	input[name="submit"] {
// 		margin-left: 90%;
// 	}
// }
.sumate {
	input[name="submit"] {
	  border: 1px solid #ea6616;
	  color: #ea6616;
	  width: 94px;
	  border-radius: 3px;
	  margin-left: 40%;
	  margin-top: 21px;
	  display: block;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  text-transform: uppercase;
	  background-color: white !important;
	}
}
// .sumate {
// 	h2 {
// 		margin-bottom: 0px !important;
// 	}

// 	p{
// 		line-height: 1.5 !important;
// 		font-size: 12px;
// 		padding-right: 33px;
// 		margin-top: 5px !important;
// 		display: block !important;
// 	}
// }

.sumate-label {
	color: #b5b6b7 !important;
}


/*Formulario*/
label[for="freeform_provincia"],
label[for="freeform_distrito"],
label[for="freeform_regiones"],
label[for="freeform_cantidad_de_remunerados_a_tiempo_completo"],
label[for="freeform_cantidad_de_talento_voluntario"],
label[for="freeform_otro_recursos_humanos"],
label[for="freeform_si_llenas_otros_ingresa_la_cantidad"],
label[for="freeform_como_considera_que_el_apoyo_integral_de_kunan_podra_ayudarlo_a_superar_sus_desafios_y_crecer"],
label[for="freeform_fanpage_link"],
label[for="freeform_twitter"],
label[for="freeform_telefono_fijo"],
label[for="freeform_telefono_celular"],
label[for="freeform_email"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria"],
label[for="freeform_si_selecciono_otros_medios"],
label[for="freeform_cuando_se_constituyeron_dd_mm_yyyy"],
label[for="freeform_cual_es_el_publico_objetivo_directo_e_indirecto"],
label[for="freeform_la_organizacion_ha_sido_premiada_antes_dentro_o_fuera_de_peru"],
label[for="freeform_efectividad_del_modelo"],
label[for="freeform_calidad_del_servicio_y_o_producto"],
label[for="freeform_impacto_social"] {

	margin-top: 21px !important;
}

label[for="freeform_regiones_1"],
label[for="freeform_regiones_2"],
label[for="freeform_regiones_3"],
label[for="freeform_regiones_4"],
label[for="freeform_regiones_5"],
label[for="freeform_regiones_6"],
label[for="freeform_regiones_7"],
label[for="freeform_regiones_8"],
label[for="freeform_regiones_9"],
label[for="freeform_regiones_10"],
label[for="freeform_regiones_11"],
label[for="freeform_regiones_12"],
label[for="freeform_regiones_13"],
label[for="freeform_regiones_14"],
label[for="freeform_regiones_15"],
label[for="freeform_regiones_16"],
label[for="freeform_regiones_17"],
label[for="freeform_regiones_18"],
label[for="freeform_regiones_19"],
label[for="freeform_regiones_20"],
label[for="freeform_regiones_21"],
label[for="freeform_regiones_22"],
label[for="freeform_regiones_23"],
label[for="freeform_regiones_24"],
label[for="freeform_regiones_25"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_1"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_2"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_3"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_4"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_5"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_6"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_7"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_8"],
label[for="freeform_por_que_medio_te_enteraste_de_la_convocatoria_9"],
label[for="freeform_sexo_1"],
label[for="freeform_sexo_2"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_1"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_2"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_3"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_4"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_5"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_6"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_7"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_8"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_9"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_10"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_11"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_12"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_13"],
label[for="freeform_cual_es_el_sector_de_la_problematica_social_que_busca_resolver_su_organizacion_puede_marcar_mas_de_una_14"],
label[for="freeform_fuente_de_financiamiento_6"]

{
	display: inline-block !important;
}



.border-skyblue {
	border: 1px solid #4FAAE5;
}

.border-sky {
	border: 1px solid #00B9AC;
}

.btn-sky {
	color: white;
	background-color: #00B9AC !important;
	width: 100% !important;
	border: none !important;
	&:hover {
		color: white !important;
		opacity: 0.8;
	}
}

.btn-skyblue {
	color: white;
	background-color: #4FAAE5 !important;
	&:hover {
		color: white !important;
		opacity: 0.8;
	}
}


.formulario-text {
	p,
	h4,
	label[for="freeform_fuente_de_financiamiento_1"],
	label[for="freeform_fuente_de_financiamiento_2"],
	label[for="freeform_fuente_de_financiamiento_3"],
	label[for="freeform_fuente_de_financiamiento_4"],
	label[for="freeform_fuente_de_financiamiento_5"],
	label[for="freeform_fondos_administrados_durante_el_ano_2014_1"],
	label[for="freeform_fondos_administrados_durante_el_ano_2014_2"],
	label[for="freeform_fondos_administrados_durante_el_ano_2014_3"],
	label[for="freeform_fondos_administrados_durante_el_ano_2014_4"],
	label[for="freeform_fondos_administrados_durante_el_ano_2014_5"],
	label[for="freeform_fondos_administrados_durante_el_ano_2014_6"] {
		font-weight: 300 !important;
	}
}

label[for="freeform_fuente_de_financiamiento"],
label[for="freeform_fondos_administrados_durante_el_ano_2014"],
label[for="freeform_regiones"] {
	color: black;
}

#freeform_describa_el_principal_problema_social,
#freeform_cual_es_el_publico_objetivo_directo_e_indirecto,
#freeform_enuncie_como_su_organizacion_aporta,
#freeform_efectividad_del_modelo,
#freeform_calidad_del_servicio_y_o_producto,
#freeform_impacto_social,
#freeform_innovacion,
#freeform_aliados_estrategicos,
#freeform_la_organizacion_ha_sido_premiada_antes_dentro_o_fuera_de_peru,
#freeform_cual_es_el_principal_desafio_que_debe_afrontar_para_alcanzar_el_proposito_que_persigue_su_iniciativa_y_como_lo_resolvera,
#freeform_como_considera_que_el_apoyo_integral_de_kunan_podra_ayudarlo_a_superar_sus_desafios_y_crecer {
	width: 100% !important;
}

label[for="freeform_cuando_comenzaron_a_operar_dd_mm_yyyy"],
label[for="freeform_tipo_de_organizacion"],
label[for="freeform_tipo_de_organizacion_otros"] {
	margin-top: 35px !important;
}

.ff_composer :nth-child(18n) :nth-child(1) {
	li {
		margin-top: 14px !important;

	}
}

.ff_composer :nth-child(19n) :nth-child(1) {

		padding-top: 0px !important;

}



/*VOTACIÓN*/

.fz-sm {
	font-size: 18px !important;
}

.fz-xs {
	font-size: 10px !important;
}

.btn-vota {
	padding: 0px 14px !important;
  border-radius: 1px 3px 3px 1px !important;
  border: none !important;
  border-top: 2px solid #EB6F24 !important;
  border-bottom: 1px solid #EB6F24 !important;
  &:hover {
  	border-top: 2px solid #a4470f !important;
    border-bottom: 1px solid #a4470f !important;
  }
}

// .titulo-proyecto {
// 	font-size: 17px !important;
// }

.btn-votacion {
	float: left;
  border: 1px #b5b6b7 solid;
  border-radius: 3px 0px 0px 3px !important;
  padding: 1px 7px 0 7px !important;
}

.fz-proyectos {
	font-size: 13px !important;
}

.btn-votacion-perfil {
	font-size: 19px !important;
  border: none;
  float: left;
  border-radius: 3px 0px 0px 3px !important;
  padding: 3px 9px 3px 9px !important;
}

.btn-vota-perfil {
	padding: 4px 25px !important;
  border-radius: 1px 3px 3px 1px !important;
}

.icon-perfil {
	width: 22px;
}

.error_designado {
	ul {
		list-style-type: none !important;
		li {
  		list-style: none !important;
		}
		padding-left: 0;
	}

	p {
		text-align: center !important;
	}
}

.img-overlay {
	width: 116px;
  height: 116px;
  background-color: rgba(0,0,0,0.3);
  h2 {
  	top: 48px;
    position: relative;
    margin-left: 7px;
    color: #ffffff;
  }
}


//Jurado
body.cargando img.show {
  opacity: 1;
}

.caja.persona {
  overflow: hidden;

  background-color: #999;
}
.caja.persona .inner {
  opacity: 0.8;
  padding: 0 !important;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.caja.persona .inner:hover {
  opacity: 1;
}
.caja.persona .inner .contenido {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.caja.persona .inner .contenido h3 {
  margin: 20px 20px 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate(-400px, 0);
  -moz-transform: translate(-400px, 0);
  -ms-transform: translate(-400px, 0);
  -o-transform: translate(-400px, 0);
  transform: translate(-400px, 0);
}
.caja.persona .inner .contenido h3 span {
  display: inline-block;
  background: #ea6616;
  padding: 6px 12px 4px;
}
.caja.persona .inner .contenido .cargo {
  -webkit-transition: all 0.4s 0.1s ease-in-out;
  -moz-transition: all 0.4s 0.1s ease-in-out;
  -ms-transition: all 0.4s 0.1s ease-in-out;
  -o-transition: all 0.4s 0.1s ease-in-out;
  transition: all 0.4s 0.1s ease-in-out;
  -webkit-transform: translate(400px, 0);
  -moz-transform: translate(400px, 0);
  -ms-transform: translate(400px, 0);
  -o-transform: translate(400px, 0);
  transform: translate(400px, 0);
  margin: 0 20px;
  background: #fff;
  color: #777;
  padding: 5px 12px;
  display: inline-block;
  font-family: octin_college_freeregular, arial, sans-serif;
}
.caja.persona .inner .contenido .links {
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  -moz-transition: all 0.4s 0.2s ease-in-out;
  -ms-transition: all 0.4s 0.2s ease-in-out;
  -o-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out;
  -webkit-transform: translate(-400px, 0);
  -moz-transform: translate(-400px, 0);
  -ms-transform: translate(-400px, 0);
  -o-transform: translate(-400px, 0);
  transform: translate(-400px, 0);
  margin: 0 20px;
}
.caja.persona .inner .contenido .links a {
  padding: 5px;
  width: 30px;
  height: 30px;
  display: block;
  text-indent: 50px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: left;
}
.caja.persona .inner .contenido .links a.linkedin {
  background: #009de6 url("../img/social-linkedin.png") center center no-repeat;
}
.caja.persona .inner .contenido .links a.twitter {
  background: #00aeff url("../img/social-twitter.png") center center no-repeat;
}
.caja.persona .inner .contenido .links a:hover {
  background-color: #222;
}
.caja.persona .inner .contenido .links a:active {
  background-color: #ea6616;
}
.caja.persona .inner img.normal {
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
}
.caja.persona .inner img.mirando {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  opacity: 0;
}
.caja.persona .inner img.mirando.mostrar {
  opacity: 1;
}
.caja.persona .inner:hover {
  background: #00aeff;
}
.caja.persona .inner:hover img.normal {
  opacity: 1;
}
.caja.persona .inner:hover .contenido h3,
.caja.persona .inner:hover .contenido .cargo,
.caja.persona .inner:hover .contenido .links {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.caja.persona:nth-child(odd) .inner h3 span {
  background-color: #ea6616;
}
.caja.persona:nth-child(odd) .inner:hover {
  background-color: #ea6616;
}
.caja.persona .inner img.pixelado {
  display: none;
}
.caja.persona .inner img.normal {
  opacity: 1;
  // -webkit-transition: all 5s ease-in;
  // -moz-transition: all 5s ease-in;
  // -ms-transition: all 5s ease-in;
  // -o-transition: all 5s ease-in;
  // transition: all 5s ease-in;
}
@media all and (max-width: 1200px) {
  .caja.persona .inner .contenido h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .caja.persona .inner .contenido .cargo {
    font-size: 14px;
    line-height: 14px;
  }
}
@media all and (max-width: 1020px) {
  .caja.persona .inner .contenido {
    bottom: 0;
  }
  .caja.persona .inner .contenido h3 {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
  }
  .caja.persona .inner .contenido .cargo {
    margin: 0;
    font-size: 13px;
    line-height: 13px;
  }
  .caja.persona .inner .contenido .links {
    position: absolute;
    top: auto;
    bottom: 100%;
    right: auto;
    left: -20px;
  }
  .caja.persona .inner .contenido .links a {
    width: 25px;
    height: 25px;
  }
}

.fila-cajas {
	margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  clear: both;
}


// Modals
.border-bottom-none {
  border-bottom: none !important;
}

.modal-dialog {
	width: 600px !important;
	margin-top: 150px !important;
	z-index: 10000 !important;
}