{embed="includes/header"}
{embed="includes/navegacion-vistas"}
    <main class="site-content">
      <section id="hero-image" class="minhp-80" style="background:url({site_url}app/assets/img/comunidad.png)">
        <div class="bg-hero-image minhp-80">
          <div class="container-sm minh-280"></div>  
          <div class="container-sm text-white text-center">
            <h1 class="text-uppercase m-0 pt-70 h2 light pb-14">Comunidad</h1>
            <p class="lead thin mb-14">Kunan quiere consolidad un ecosistema de apoya a la innovación y emprendimiento social de los jóvenes</p>
            
            <a href=""><img class="pt-14 triangle-down" src="{site_url}app/assets/img/triangulo-bajada.png" alt=""></a>
          </div>
        </div>
      </section>
      <!-- DESCRIPTION -->
      <section class="text-center" id="description">
        <div class="container-md pv-35 text-black">
          <h3 class="pt-28 text-uppercase">Qué hacemos</h3>
          <p class="h4 lh-lg text-gray-darker light">La Comunidad Kunan, es un espacio de intercambio de experiencias y desarrollo de habilidades. Parte de la identidad común de sus miembros, que se conectan e integran para conocer nuevas ideas, exponer las suyas y ponerlas en acción. Consolidando así un sistema de apoyo al emprendimiento <br>para construir un mejor Perú. </p>
          
          <img class="pv-35 separador"src="{site_url}app/assets/img/linea-separadora.png">

          <h3 class="pt-28 text-uppercase">Quienes la integran</h3>
          <p class="h4 lh-lg text-gray-darker light">Emprendimientos sociales liderados por jóvenes millennials que impactan en las 24 regiones del Perú.</p>

					{embed="includes/integrantes-comunidad"}
					
          <div class="pv-42 text-center">
            <a href="{site_url}emprendedores-sociales" class="btn btn-gray btn-outline text-gray">
              <p class="small ph-21 mb-0">VER TODOS</p>
            </a>
          </div> 					

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">

					{embed="includes/cronograma-comunidad"}

          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
          
          {embed="includes/modulo-bitacora"}
          
          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
          
          <!-- SOCIOS ESTRATEGICOS-->
          {embed="includes/socios-estrategicos"}
          <!-- END: SOCIOS ESTRATEGICOS-->
        </div>
      </section>
      <!-- END: DESCRIPTION -->
			{embed="includes/formulario"}
			{embed="includes/estadistica"}
    </main>
{embed="includes/footer"}  