{embed="includes/header" 
	titulo="Komunidad" 
	descripcion="KUNAN quiere consolidar un ecosistema de apoya a la innovación y emprendimiento social de los jóvenes" 
	imagen="{site_url}app/assets/img/comunidad-meta.png" 
  url="{site_url}{segment_1}" 
}
{embed="includes/navegacion-vistas"}
    <main class="site-content">
      <section id="hero-image" class="minhp-80" style="background:url({site_url}app/assets/img/comunidad.png)">
        <div class="bg-hero-image minhp-80">
          <div class="container-sm minh-280"></div>  
          <div class="container-sm text-white text-center">
            <h1 class="text-uppercase m-0 light pt-56 h2 pb-14">Komunidad</h1>
            <p class="lead mb-14">Kunan quiere consolidar un ecosistema de apoya a la innovación y emprendimiento social de los jóvenes</p>   
            <a href="{site_url}comunidad#quehacemos"><img class="pt-14 triangle-down" src="{site_url}app/assets/img/triangulo-bajada.png" alt=""></a>
          </div>
        </div>
      </section>
      <section class="text-center relative" id="description">
        <div id="quehacemos"></div>
        <img class="border-right-top hidden-xs" src="{site_url}app/assets/img/borde-right-top.png">
        <div class="container-md pt-70 pb-70 text-black">
          <h3 class="pb-35 h4 text-black text-uppercase">¿Qué hacemos?</h3>
          <p class="h4 lh-lg text-gray-darker light">La Comunidad Kunan, es un espacio de intercambio de experiencias y desarrollo de habilidades. Parte de la identidad común de sus miembros, que se conectan e integran para conocer nuevas ideas, exponer las suyas y ponerlas en acción. Consolidando así un sistema de apoyo al emprendimiento <br>para construir un mejor Perú. </p>
          <img class="pv-35 separador"src="{site_url}app/assets/img/linea-separadora.png">
          <h3 class="pb-35 h4 text-black text-uppercase">Nuestra Comunidad KUNAN</h3>
          <p class="h4 lh-lg text-gray-darker light">Emprendimientos sociales liderados por jóvenes millennials que impactan en las 24 regiones del Perú.</p>
					{embed="includes/integrantes-comunidad"}
          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">       
          {embed="includes/modulo-bitacora"}
          <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
          {embed="includes/socios-estrategicos"}
        </div>
      </section>
			{embed="includes/formulario"}
			{embed="includes/estadistica"}
    </main>
{embed="includes/footer"}  