{exp:channel:entries channel="proyecto" limit="1" disable="member_data"}
{embed="includes/header"}
{embed="includes/navegacion-vistas"} 
    <main class="site-content">
      <section class="minh-70"></section>
      {proyecto-imagen-bg}
      <section id="hero-image" class="minhp-70" style="background:url({image:url:large})">
	    {/proyecto-imagen-bg}
        <div class="bg-hero-image minhp-70">
          <div class="container-md minh-350-lg minh-280-xs"></div>  
          <div class="container-md text-white pb-21">
            <div class="row">
              <div class="col-md-3">
	              {proyecto-imagen-organizacion}
                <img class="absolute" src="{image:url:small}">
                {/proyecto-imagen-organizacion}
              </div>
              <div class="col-md-9">
                <!--<h2 class="text-uppercase m-0 pv-14">{proyecto-titulo-proyecto}</h2>
                <p class="light">{proyecto-introduccion}</p>-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- DESCRIPTION -->
      <section class="text-left" id="description">
        <div class="container-md pv-70 mt-42">
          <div class="row">
            <div class="col-md-3 minh-280 light text-gray">
              <h2 class="m-0 text-black pb-14">{title}</h2>
              <p class="small m-0 text-gray-darker">{proyecto-sector}</p>
              <p class="small mt-0 mb-21"><dfn>{proyecto-ciudad}</dfn></p>
              <p class="small m-0 text-black">Contáctos</p>
              <p class="small m-0">
	              {if proyecto-correoelectrnico}
	              <dfn><a href="mailto:{proyecto-correoelectrnico}">{proyecto-correoelectrnico}</a></dfn><br>
	              {/if}
	              {if proyecto-website}
	              <dfn><a href="{proyecto-website}">Website</a></dfn><br>
	              {/if}
	              {if proyecto-facebook}
	              <dfn><a href="{proyecto-facebook}">Facebook</a></dfn><br>
	              {/if}
	              {if proyecto-twitter}
	              <dfn><a href="{proyecto-twitter}">Twitter</a></dfn>
	              {/if}
              </p>
              <div class="row pl-14 mt-28">
                <div class="col-md-12">
	                

	                
									{if logged_in}
	                	{exp:rating:form
									    entry_id="{entry_id}"
									    collection="Votos"
									    return="gracias/voto/{title}"
									    anonymous="no" 
									    allow_duplicates="no"
										}	                    
										<input type="hidden" name="rating" id="rating" value="1">
		                <button type="submit" name="submit" value="Vota" class="btn btn-icon-custom btn-primary">
		                  <i>
		                    {exp:rating:stats entry_id="{entry_id}"}
		                      {overall_count}
		                      {if rating_no_results}
		                        0
		                      {/if}
		                    {/exp:rating:stats}
		                  </i>
		                  <span><small>VOTAR</small></span>
		                </button> 
		                {/exp:rating:form}			
									{if:else}
										Aqui va el link al registro<br>
										{exp:rating:stats entry_id="{entry_id}"}
                      {overall_count}
                      {if rating_no_results}
                        0 Voto(s)
                      {/if}
                    {/exp:rating:stats}
									{/if}
                </div>
              </div>
            </div>
            <div class="col-md-9 minh-280 light text-center">
              <div class="text-left text-gray">
                {proyecto-contenido}
              </div>
              <!--
              <img class="pv-56 separador"src="{site_url}app/assets/img/linea-separadora.png">
              {embed="includes/otros-proyectos"}
              -->
            </div>
          </div>
        </div>
      </section>
      <!-- END: DESCRIPTION -->
{/exp:channel:entries}      
			{embed="includes/formulario"}
      {embed="includes/estadistica"}
    </main>
{embed="includes/footer"} 